body {
    font-size: 14px;
    font-family: arial, sans-serif;
    color:black;
}

a {
    text-decoration: none;
    color:black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.words {
    font-size: 14px;
    font-family: arial, sans-serif;
}

.words:hover {  
    text-decoration: underline;
    color:black;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.logo {
    
}
