body {
    font-size: 14px;
    font-family: arial, sans-serif;
    color:black;
}

a {
    text-decoration: none;
    color:black;
}

.words {
    font-size: 14px;
    font-family: arial, sans-serif;
}

.words:hover {  
    text-decoration: underline;
    color:black;
}

.navigation {
    
}

.nav-left {
    
}

.nav-right {
    
}